<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html dir="ltr"><head><!--
To change this template, choose Tools | Templates
and open the template in the editor.
--><title>Ask to mysekf</title>


  

  
  
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  
  <meta content="Dario Malfatti" name="author">

  
  <meta content="all your words belong to us" name="description">
    </head>
    <body style="font-family: Arial,Helvetica,Verdana,sans-serif; font-size: 9px; color: rgb(0, 0, 0); background-color: rgb(250, 250, 250);" alink="#330033" link="#330033" vlink="#330033">


<table style="text-align: left; width: 75%;" border="0" cellpadding="0" cellspacing="0">

  <tbody>
    <tr>
      <td style="vertical-align: top; text-align: center;"><a href="http://www.asktomyself.com/"><img style="border: 0px solid ; width: 297px; height: 70px;" alt="Ask to myself" title="Ask to myself" src="http://www.asktomyself.com/images/title_ask.png"></a></td>
    </tr>
    <tr>
      <td style="vertical-align: middle; height: 50px; text-align: center;"><span style="font-weight: bold;">Registration complete!</span><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;">
Thank you for your registration in asktomyself.com.<br>
      <br>
You can now get into your
personal area and starts to learn new words.<br>
      <br>
Next steps:<br>
      <br>
      <ol>
        <li>open <a href="http://www.asktomyself.com/signin">http://www.asktomyself.com/signin</a></li>
        <li>enter your e-mail and password</li>
        <li>follow the instructions on the welcome page</li>
      </ol>

      <br>
Your credentials are:<br>
      <br>
E-mail: <span style="font-weight: bold;">---email---</span><br>
Password: <span style="font-weight: bold;">---pass---</span><br>
      <br>
Keep these information just for yourself.<br>
      <br>
To learn how Ask To Myself works, take a quick look at <a href="---sitoweb---/support">support page</a>.<br>
      <br>
Have fun with Ask To Myself!<br>
      <br>
Best Regards,<br>
      <br>
The Ask To Myself team.<br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: middle; height: 50px;"><span style="font-weight: bold;"><br />Contacts and feedback</span><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;">E-mail: <a href="mailto:---email-atm---">---email-atm---</a><br>
Skype: <a href="skype:---skype---?call">---skype---</a><br>
Website: <a href="---sitoweb---">---sitoweb---</a><br>
Twitter (change-log, news and feedback): <a href="---twitter---">---twitter---</a><br>
      </td>
    </tr>
  </tbody>
</table>

<br>

<br>

</body></html>